.CardGrid {
  font-family: sans-serif;
  text-align: center;
}

.MyItems {
  font-family: sans-serif;
  text-align: center;
}

.photo {
  height: 45px;
  width: 320px;
  padding-right: 10px;
}

.photoMobile {
  height: 35px;
  width: 250px;
  padding-right: 0px;
}

.imageToUpload {
  padding-right: 5px;
  padding-bottom: 5px;
}

.LandingPhoto {
  height: 70px;
  width: 499px;
  padding-right: 10px;
  margin-bottom: 20px;
}
