.CardGrid {
  font-family: sans-serif;
  text-align: center;
}

.MyItems {
  font-family: sans-serif;
  text-align: center;
}

.photo {
  height: 45px;
  width: 320px;
  padding-right: 10px;
}

.photoMobile {
  height: 35px;
  width: 250px;
  padding-right: 0px;
}

.imageToUpload {
  padding-right: 5px;
  padding-bottom: 5px;
}

.LandingPhoto {
  height: 70px;
  width: 499px;
  padding-right: 10px;
  margin-bottom: 20px;
}

.LandingPhotoMobile {
  height: 60px;
  width: 375px;
  padding-right: 10px;
  margin-bottom: 20px;
}

.footer {
  margin-top:calc(5% + 60px);
  bottom: 0;
}

.hamburger {
  height: 500px;
  width: 500px;
}

.black {
  color: black;
}

.goog {
  margin:5px;
  width: 165px;
  height:35px;
  border-radius: 4px;
  background: white;
  color:white;
  border:0px transparent;
  text-align: center;
}

.goog2 {
  margin-right: 40px;
}

.button {
  width: 215px;
  height:40px;
  border-radius: 3px;
  border-width: 1px;
  background: white;
  color:black;
  border-color: slategrey;
  text-align: left;
  align-items: flex-end;
}

.loginIcon {
  margin-left: 4px;
  margin-right: 10px;
  height: 25px;
  width: 25px;
}